<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="_SMTPHost" value="10.1.0.10"/>
    <add key="SMSUsername" value="postit@mtl"/>
    <add key="SMSPassword" value="izc7m6ic"/>
    <add key="SMSServerAddress" value="http://smartcomm2.net/smartcomm21"/>
    <add key="SMSServerPort" value="80"/>
    <add key="SMSProxyAddress" value="10.1.0.77"/>
    <add key="SMSProxyPort" value="8080"/>
    <add key="MagicWS_ForCounterService.MagicWS_ForCounterService" value="http://10.200.52.174/Magic94Scripts/MGRQISPI94.dll"/>
    <add key="CS711MaximumAttempts" value="3"/>
    <add key="CS711MaximumActiveMinutes" value="30"/>
    <add key="NETWS_ForPartnerAuthenticationChecking.ForPartnerAuthenticationChecking" value="http://localhost/_MTLNETWebServicesPAC/ForPartnerAuthenticationChecking.asmx"/>
    <add key="MTL.NETWS_ForSendSMS.NETWS_ForSendSMS" value="http://10.1.0.98/MTL_WebService/ForSendSMS.asmx"/>
    <add key="MTL.WS_Admin.WS_Admin_ForMTLmPOS.WS_Admin_ForMPos" value="http://10.1.0.24:2380/applinx/wrapped-service/WS_Admin/WS_Admin_ForMPos"/>
    <add key="MTL.WS_Agent.WS_Agent_ForMTLmPOS.WS_Agent_ForMPos" value="http://10.1.0.24:2380/applinx/wrapped-service/WS_Agent/WS_Agent_ForMPos"/>
    <add key="MTL.NETWS_ForSmartProposal.WS_SQM_CalculateService" value="http://proposal.muangthai.co.th/CalculateServices/WS_SQM_CalculateService.asmx"/>
    <add key="MTL.WS_Admin.WS_Admin_ForCMS.WS_Admin_ForCMS" value="http://10.1.0.24:2380/applinx/wrapped-service/WS_Admin/WS_Admin_ForCMS"/>
    <add key="MTL.WS_Agent.WS_Agent_ForCMS.WS_Agent_ForCMS" value="http://10.1.0.24:2380/applinx/wrapped-service/WS_Agent/WS_Agent_ForCMS"/>
    <add key="MTL.MagicWS_ForCMS.MagicWS_ForCMS" value="http://10.200.52.174/Magic94Scripts/MGRQISPI94.dll"/>
    <add key="MTL.OSBWS_EAppService.EApp_ForValidateCCPPayment_PS.ValidateCCPPayment" value="http://mtowuat:8011/EAppService/EApplication/ProxyServices/ValidateCCPPayment_PS"/>
    <add key="MTL.OSBWS_EAppService.EApp_ForValidateRecipeNumber_PS.ValidateRecipeNumber" value="http://mtowuat:8011/EAppService/AS400/ProxyServices/ValidateRecipeNumber_PS"/>
    <add key="MTL.OSBWS_EAppService.EApp_ForValidateRecipeNumberWithoutDuplicate_PS.ValidateRecipeNumber" value="http://mtowuat:8011/EAppService/AS400/ProxyServices/ValidateRecipeNumberWithoutDuplicate_PS"/>
    <add key="MTL.OSBWS_EAppService.EApp_ForValidateRecipeNumberForAll_PS.ValidateRecipeNumberForAll" value="http://mtowuat:8011/EAppService/AS400/ProxyServices/ValidateRecipeNumberForAll_PS"/>
    <add key="MTL.WS_Admin.WS_Admin_ForSmartCard.WS_Admin_ForSmartCard" value="http://10.1.0.24:2380/applinx/bare-service/WS_Admin/WS_Admin_ForSmartCard"/>
    <add key="MTL.WS_Admin.WS_Admin_SmileServices.WS_Admin_ForSmartCard" value="http://10.1.0.24:2380/applinx/wrapped-service/WS_Admin/WS_Admin_ForSmartCard"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="MTL_WSLOGConnectionString" connectionString="Data Source=10.1.0.93\MSSQLSERVER2008;Initial Catalog=MTL_WSLOG;User ID=sa;Password=pass#word1" providerName="System.Data.SqlClient"/>-->
    <add name="MTL_WSLOGConnectionString" connectionString="Data Source=10.1.0.206\SQLDEV;Initial Catalog=MTL_WSLOG;User ID=sa;Password=pass#word1" providerName="System.Data.SqlClient"/>
    <add name="MTL_mPOSEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.1.0.206\SQLDEV;Initial Catalog=MTL_mPOS;User ID=mposlogin;Password=mpospassword;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0"/>
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </DbProviderFactories>
  </system.data>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WS_Admin_ForSmartCardSoapBinding"/>
        <binding name="WS_Admin_ForSmartCardSoapBinding1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.1.0.24:2380/applinx/wrapped-service/WS_Admin/WS_Admin_ForSmartCard" binding="basicHttpBinding" bindingConfiguration="WS_Admin_ForSmartCardSoapBinding" contract="MTL.WS_Admin_ForSmartCardPortType" name="WS_Admin_ForSmartCardPort"/>
      <endpoint address="http://10.1.0.24:2380/applinx/wrapped-service/WS_Admin/WS_Admin_ForSmartCard" binding="basicHttpBinding" bindingConfiguration="WS_Admin_ForSmartCardSoapBinding1" contract="ServiceReference1.WS_Admin_ForSmartCardPortType" name="WS_Admin_ForSmartCardPort1"/>
    </client>
  </system.serviceModel>
</configuration>